<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cms homepage</title>
    <link rel="stylesheet" href="../static/StyleHP.css">
</head>
<body class="body">
    <div class="banner">
        <div class="navbar">
            <a href="s" class="logo">Group5</a>
            <ul>
                <li><a href="#" onclick="window.location.href = 'homepage.html';" >Home</a></li>
                <li><a href="#">Assigment</a></li>
                <li><a href="#">Quizes</a></li>
                <li><a href="#">Grades</a></li>
            </ul>
            <div class="content">
                <div>
                    <button type="button" onclick="window.location.href = 'course1.html';"><span></span>Coding Basics</button>
                    <button type="button" onclick="window.location.href = 'course2.html';"><span></span>Data Management</button>
                    <button type="button" onclick="window.location.href = 'course3.html';"><span></span>Software Developers</button>
                </div>
                <hr>
                <h1>About Us</h1>
                <p>we are 5 student create a website for learning some courses </p>
            </div>
        </div>
    </div>
    
</body>
</html>