{% extends "base.html" %}
{% block title %}Login page{%endblock%}
{% block StyleSheet %}{%endblock%}
{% block Navbar %}Login{%endblock%}
{% block BodyContent %}
<form action="#" method="POST">
    <h3 align="center">login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
    </div>
    <br />
    <button type="submit" class = "btn btn-primary">Login</button>
    
    <div class="form-group">
        <label for="password2">Don't have account register now!!</label>
        <button class="btn btn-primary" action="#">Register</button>
    </div>
</form>
{% endblock %}