{% extends "base.html" %}
{% block title %}Login page{%endblock%}
{% block StyleSheet %}<link href="../static/login_style.css" rel="stylesheet">{%endblock%}
{% block Navbar %}Login{%endblock%}
{% block BodyContent %}
<form action="#" method="POST">
    <h3 align="center">login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
    </div>
    <br />
    <div class="submitButton">
        <button type="submit" class = "btn btn-primary">Login</button>
        <br />
    </div>
    <div style="text-align: center;">
        <br/><span class="help-block">You don't have account?&nbsp&nbsp&nbsp&nbsp<a href="/register" id="id_signup_link">Click to Register Now!</a></span></div>
</form>
{% endblock %}